{% extends "base.html" %}
{% load sekizai_tags %}
{% load static %}
{% load cms_tags %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/apsti.css' %}">{% endblock css %}
{% block content %}

<!-- //header -->

<!-- //breadcrum -->
<section class="py-5" id="about">
    <div class="container py-lg-3">
        <div class="header-section text-center mb-lg-5 mb-4">
            <h2>{% page_attribute "page_title" %}</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 book-info">
                {% placeholder "content" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<!-- script for testimonials -->
<script>
    $(document).ready(function () {
        $('.owl-two').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: false,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 1,
                    nav: false
                },
                667: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 1,
                    nav: false
                }
            }
        })
    })
</script>

<!-- for services carousel slider -->
<script>
    $(document).ready(function () {
        $('.owl-three').owlCarousel({
            loop: true,
            stagePadding: 20,
            margin: 20,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            nav: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        })
    })
</script>
<!-- //for services carousel slider -->
{% endblock extra_js%}